airflow/logs/
__pycache__/
*.pyc

# Environnements et secrets
.env
.venv
venv/
env/

# Mac/Windows
.DS_Store
Thumbs.db

# Data generator output
data_generator/output/raw/
data_generator/output/scans/
data_generator/output/ground_truth.csv
data_generator/output/documents_manifest.csv
